<div class="main">

  <div class="ui card">
    <div>
      <h1>Team Generator</h1>
      <button [ngStyle]="{'background-color':'red','width': '25%'}"
              (click)="resetFields()">Clear Fields</button>
    </div>

    <ul class="list">
      <li *ngFor="let member of members">{{member}}</li>
    </ul>
    <div class = "container">
      <input
        #MemberInput
        type = "text"
        placeholder="Name"
        (input)="onMemberInput(MemberInput.value)"
        [value]="newMemberName"
      />
      <button (click)="addMember()">Add</button>
    </div>

    <div class = "container">
      <input
        #TeamInput
        type = "text" placeholder ="# of teams"
        (input)="onTeamsInput(TeamInput.value)"
        [value]="numberOfTeams"
       />
      <button (click)="generateTeams()">Generate</button>
    </div>

    <p *ngIf="errorMessage" class = "error-msg">{{errorMessage}}</p>

  </div>

  <div *ngFor =" let team of teams" class="ui card">
    <h2>Team {{teams.indexOf(team) + 1}}</h2>
    <ul class="sub-list">
      <li *ngFor="let member of team">{{member}}</li>
    </ul>
  </div>



</div>
