<div class="main">

  <div class="ui card">
    <div>
      <h1>Team Generator</h1>
      <button [ngStyle]="{'background-color':'red','width': '25%'}"
              (click)="resetFields()">Clear Fields</button>
    </div>
    <app-listview [items]="members"></app-listview>

    <app-reciever [text]= "['Name','Add']" [(newValue)] = "newMemberName"
                  (onclick)="addMember()">
    </app-reciever>

    <app-reciever [text]= "['# of teams','Generate']" [(newValue)] = "numberOfTeams"
                  (onclick)="generateTeams()">
    </app-reciever>
    <p *ngIf="errorMessage" class = "error-msg">{{errorMessage}}</p>
  </div>

  <div *ngFor =" let team of teams" class="ui card">
    <h2>Team {{teams.indexOf(team) + 1}}</h2>
    <app-listview [items] = "team" [ngStyle]="{'font-size':'1.25rem'}"></app-listview>

  </div>

</div>
